<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>

<ul>
  <% @clientes.each do |cliente| %>
    <li><%= link_to cliente.nome, cliente %></li>
  <% end %>
</ul>
<li>
  <%= link_to "New cliente", new_cliente_path %>
</li>

<li>
  <%= link_to "New agendamento", new_agendamento_path %>
</li>